* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  font-family: "Lato_Regular", sans-serif;
  font-size: 15px;
}

li {
  list-style-type: none;
}

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #fff;
}

.header__background {
  background: url(../img/bgTop.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 950px;
  width: 100%;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header__top {
  border-bottom: 1px solid #ffffff3f;
  display: flex;
  justify-content: space-between !important;
  padding: 10px 0;
}

.header__contacts {
  max-width: 810px;
  width: 100%;
  text-align: start;
}

.header__contacts a {
  margin: 5px 10px 0 10px;
}

.social__svg {
  fill: #fff;
  transition: all 0.3s;
  margin: 0 7.5px;
}

.link__social:hover>svg {
  fill: #ff6534;
}

.haeder__flex__element {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__bottom {
  justify-content: space-between;
  padding: 30px 15px;
  box-sizing: border-box;
}

.logo {
  width: 165px;
  height: 25.22px;
}

.logo__parent {
  width: 277.19px;
}

.header__navbar {
  display: flex;
  font-family: "Lato_Bold", sans-serif;
  font-size: 15px;
  color: #bdbdbdbd;
  max-width: 688.89px;
  width: 100%;
  justify-content: center;
}

.header__navbar__element {
  margin: calc(10px / 2) calc(15px / 2);
  transition: color 0.3s;
  cursor: pointer;
}

.header__navbar__element:hover {
  color: #ff6534;
}

.header__button {
  color: #fff;
  width: 133.19px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato_Bold", sans-serif;
  font-size: 15px;
  background: #ff6534;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.header__button:hover {
  background: #fff;
  color: #000;
}

.header__button__parrent {
  width: 100%;
  max-width: 203.92px;
  display: flex;
  justify-content: end;
}

.interactive__flex__interactive {
  max-width: 269px;
  width: 100%;
}

.phone {
  height: 470px;
}

.interactive__flex {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 95px 0 60px;
}

.orange__title {
  font-family: "Lato_Bold", sans-serif;
  font-size: 12px;
  color: #ff6534;
  letter-spacing: calc(0.2 * 1em);
}

.interactive__flex__info__title {
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 76px;
  width: 100%;
  max-width: 470px;
  margin-top: 20px;
  line-height: 1.1;
}

.number__title {
  max-width: 236.98px;
  display: flex;
  justify-content: space-between;
}

.interactive__flex__info__orange {
  color: #ff6534 !important;
}

.interactive__flex__info__big__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 19px;
  color: #d8d8d8;
  margin-top: 40px;
}

.interactive__flex__info__big__text__bold {
  font-family: "Lato_Bold", sans-serif;
}

.interactive__flex__info__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #bdbdbdbd;
  line-height: 1.5;
  width: 100%;
  max-width: 470px;
  margin-top: 20px;
}

.interactive__flex__element {
  padding: 0 15px;
  box-sizing: border-box;
}

.info__flex {
  display: flex;
  font-family: "Lato_Regular", sans-serif;
  font-size: 12px;
  color: #727272;
  gap: 10px;
  text-decoration: underline;
  margin-top: 20px;
  letter-spacing: calc(0.2 * 1em);
}

.interactive__flex__about {
  padding: 0 40px;
  box-sizing: border-box;
}

.interactive__flex__about__title {
  font-family: "Lato_Regular", sans-serif;
  font-size: 12px;
  color: #d8d8d8;
  letter-spacing: calc(0.2 * 1em);
  line-height: 1.5;
  margin-top: 10px;
}

.interactive__flex__about__img {
  width: 120px;
  height: 120px;
  margin-top: 95px;
}

.interactive__flex__about__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #d8d8d8;
  width: 100%;
  max-width: 322px;
  margin-top: 20px;
}

.interactive__flex__about__text__bold {
  font-family: "Lato_Bold", sans-serif;
  color: #fff;
  margin-left: 5px;
}

.interactive__flex__about__repair,
.interactive__flex__about__repair a {
  margin-top: 90px;
  color: #fff;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
}

.interactive__arrow {
  margin-left: 5px;
  font-size: 24px;
}

.man__repair {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
}

.man__rapair__parrent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0 30px;
}

.what__we__do__grid__element__title {
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  color: #121212;
  font-weight: bold;
  margin-top: 20px;
  line-height: 1.3;
  width: 100%;
  max-width: 350px;
}

.what__we__do__grid__element__text {
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
  color: #727272;
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
}

.what__we__do__grid__element__price {
  font-size: 15px;
  line-height: 1.4;
  font-family: "Lato_Regular", sans-serif;
  color: #121212;
  margin-top: 20px;
}

.what__we__do__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0 60px;
  row-gap: 60px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.what__we__do__title {
  font-family: "Questrial", sans-serif;
  font-size: 56px;
  margin-top: 20px;
  color: #121212;
  line-height: 1.1;
}

.about__us__section__element {
  padding: 0 30px;
}

.what__we__do__grid__element {
  width: 100%;
  max-width: 355px;
}

.about__us__section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 60px 0 120px;
}

.about__us__section__img {
  max-width: 555px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.orange__title__bold {
  font-family: "Lato_Black", sans-serif;
  color: #ff6534;
  font-size: 12px;
  letter-spacing: calc(1em * 0.2);
}

.about__us__section__text__bold {
  font-family: "Lato_Bold", sans-serif;
  font-size: 19px;
  color: #4e4e4e;
  max-width: 555px;
  width: 100%;
  line-height: 1.5;
  margin: 25px 0;
}

.about__us__section__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #727272;
  max-width: 555px;
  width: 100%;
  line-height: 1.5;
}

.about__us__section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-width: 2px;
  color: #fff;
  background-color: #ff6534;
  width: 161.52px;
  height: 48px;
  border-color: transparent;
  font-family: "Lato_Bold", sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
}

.about__us__section__button svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}


.about__us__section__button:hover {
  background-color: #000;
}

.what__we__repair {
  display: flex;
  justify-content: center;
  align-items: center;

}


.what__we__repair__img {
  min-height: 337px;
  width: 510px;

}

.hardware {
  background: url(../img/hardware.webp), no-repeat;
  background-size: cover;
}

.screen {
  background: url(../img/screen.webp), no-repeat;
  background-size: cover;
}


.hardware__repair, .screen__replasment {
  display: flex;
  align-items: center;
}

.hardware__repair {
  background: #f6f6f6;
}

.screen__replasment {
  background: #181818;
}

.screen__replasment__info, .hardware__repair__info {
  padding: 0 60px;
  max-width: 511px;
  box-sizing: border-box;
  width: 100%;
}

.hardware__repair__info__title, .screen__replasment__info__title {
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.hardware__repair__info__title {
  color: #121212;
}

.screen__replasment__info__title {
  color: #fff;
}

.hardware__repair__info__text, .screen__replasment__info__text {
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
}

.hardware__repair__info__text {
  color: #727272;
}

.screen__replasment__info__text {
  color: #fff;
}

.hardware__repair__info__text__little, .screen__replasment__info__text__little {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
  margin-top: 20px;
  position: relative;
  left: 15px;
}

.hardware__repair__info__text__little {
  color: #4e4e4e;
}

.screen__replasment__info__text__little {
  color: #e1e1e1;
}

.screen__replasment__info__text__little::before, .hardware__repair__info__text__little::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: #ff6534;
  position: absolute;
  top: calc(50% - 3.5px);
  left: -15px;
}

.achivments {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
  background: #121212;
}

.achivments__element__number {
  font-family: "Questrial", sans-serif;
  font-size: 76px;
  color: #ff6534;
}

.achivments__element__title {
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  margin-top: 40px;
}

.achivments__element__text {
  margin-top: 40px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
  color: #bdbdbd;
  vertical-align: baseline;
}

.achivments__element {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 450px;
  width: 100%;
}

.how__we__work {
  display: flex;
  color: #fff;
  background-color: #181818;
  position: relative;
}

.how__we__work__left {
  padding: 120px 30px 100px 30px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.how__we__work__img {
  width: 100%;
  height: 100%;
  background: url(../img/how\ we\ work.webp) no-repeat;
  background-size: cover;
}

.how__we__work__img__parrent {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.how__we__work__title {
  font-size: 56px;
  line-height: 1.1;
  font-family: "Questrial", sans-serif;
  margin-top: 20px;
  color: #fff;
}

.how__we__work__title__orange {
  color: #ff6534;
  font-size: 56px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.how__we__work__text {
  font-size: 19px;
  line-height: 1.4;
  font-family: "Lato_Bold", sans-serif;
  margin-top: 25px;
}

.how__we__work__steps {
  margin-top: 25px;
}

.step {
  display: flex;
  padding: calc(30px / 4) 0;
}

.step svg {
  margin: 0 13.5px;
}

.step__title {
  font-size: 24px;
  line-height: 1.3;
  font-family: "Questrial", sans-serif;
  margin-right: 5px;
  font-weight: bold;
}

.step__info, .step__svg {
  margin: calc(30px/4);
}

.step__number {
  color: #ff6534;
  margin-left: 5px;
}

.step__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #bdbdbd;
  line-height: 1.5;
  max-width: 500px;
  width: 100%;
}

.services {
  text-align: center;
  padding: 120px 0 15px;
}

.services__text__bold {
  margin: 25px auto 0 auto;
}

.services__slider__overflow {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  position: relative;
  left: 0;
}

.services__slider__element {
  padding: 0 15px;
  max-width: 360px;
  position: relative;
  left: -15px;
}

.services__slider__element__img {
  max-width: 360px;
}

.services__slider {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.services__parent__slider {
  margin-top: 50px;
}

.services__slider__button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.left {
  position: relative;
  left: -15px;
}

.right {
  position: relative;
  left: 15px;
}

.services__slider__element__title {
  text-align: start;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  color: #121212;
  font-size: 24px;
  margin-top: 20px;
  line-height: 1.3;
}

.services__slider__element__text {
  text-align: start;
  color: #727272;
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
}

.companies__element {
  width: 170px;
  position: relative;
}

.companies__element__background {
  width: 210px;
  height: 104px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companies {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 25px 0 100px;
}

.cta {
  position: relative;
  background: url(../img/cta.png), no-repeat;
  background-size: cover;
  padding: 120px 0 30px;
  width: 100%;
}

.cta__title {
  max-width: 800px;
  width: 100%;
}

.cta__top__flex {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cta__top__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__top__flex__element {
  max-width: 570px;
  width: 100%;
}

.cta__title {
  margin-bottom: 20px;
}

.cta__discount__text {
  color: #fff;
  font-family: "Lato_Bold", sans-serif;
  font-size: 19px;
  max-width: 370px;
  width: 100%;
  line-height: 1.4;
}


.cta__bottom__flex{
  margin-top: 50px;
}