* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  font-family: "Lato_Regular", sans-serif;
  font-size: 15px;
}

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
  transition: all 1s;
}

.header__background {
  background: url(../img/bgTop.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header__top {
  border-bottom: 1px solid #ffffff3f;
}

.social__svg {
  fill: #fff;
  transition: all 0.3s;
}

.link__social:hover > svg {
  fill: #ff6534;
}

.haeder__flex__element {
  display: flex;
  justify-content: start;
}
