* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  font-family: "Lato_Regular", sans-serif;
  font-size: 15px;
}

li {
  list-style-type: none;
}

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #fff;
}

.main::before {
  content: "";
  background: url(../img/bgTop.jpg) no-repeat 50% 50% / cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 950px;
  width: 100%;
  z-index: -1;
}

.header__phone__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone__link {
  font-size: 17px !important;
  margin: 10px 0 !important;
}

.header__phone__link__contact {
  margin-top: 20px;
}

.header__phone__link__socials {
  margin-top: 30px;
}

.modal__element {
  height: 2px;
  width: 24px;
  background-color: #ffffff;
  transition: all 0.4s;
  transform: rotate(0deg);
  transform-origin: left;
}

.modal__element.active__top {
  transform: rotate(45deg);
  transform-origin: left;
}

.modal__element.active__bottom {
  transform: rotate(-45deg);
  transform-origin: left;
}

.modal__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 30px;
}

.modal__button:hover > .modal__element {
  background-color: #727272;
}

.header__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #121212;
  z-index: 2;
}

.modal__button__element {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
}

.modal__button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.left__side {
  transform: rotate(45deg);
}

.right__side {
  transform: rotate(-45deg);
}

.header__phone {
  display: flex;
  max-width: 908px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.header__child {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header.active {
  background-color: #121212;
}

.header__top {
  border-bottom: 1px solid #ffffff3f;
  display: flex;
  justify-content: space-between !important;
  padding: 10px 0;
}

.header__contacts {
  max-width: 810px;
  width: 100%;
  text-align: start;
}

.header__contacts a {
  margin: 5px 10px 0 10px;
}

.social__svg {
  fill: #fff;
  transition: all 0.3s;
  margin: 0 7.5px;
}

.link__social:hover > svg {
  fill: #ff6534;
}

.haeder__flex__element {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__bottom {
  justify-content: space-between;
  padding: 30px 15px;
  box-sizing: border-box;
}

.logo {
  width: 165px;
  height: 25.22px;
}

.logo__parent {
  width: 277.19px;
}

.header__navbar,
.link {
  display: flex;
  font-family: "Lato_Bold", sans-serif;
  font-size: 15px;
  color: #bdbdbdbd;
  max-width: 688.89px;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  text-wrap: nowrap;
  transition: color 0.3s;
}

.link:hover {
  color: #ff6534;
}

.header__navbar__element {
  margin: calc(10px / 2) calc(15px / 2);
  transition: color 0.3s;
  cursor: pointer;
}

.header__button {
  color: #fff;
  width: 133.19px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato_Bold", sans-serif;
  font-size: 15px;
  background: #ff6534;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.header__button:hover {
  background: #fff;
  color: #000;
}

.header__button__parrent {
  width: 100%;
  max-width: 203.92px;
  display: flex;
  justify-content: end;
}

.interactive__flex__interactive {
  max-width: 269px;
  width: 100%;
}

.phone {
  max-height: 470px;
  width: 100%;
  min-width: 200px;
}

.interactive__flex {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 95px 0 60px;
}

.orange__title {
  font-family: "Lato_Regular", sans-serif;
  font-size: 12px;
  color: #ff6534;
  letter-spacing: calc(0.2 * 1em);
  font-weight: 900;
}

.interactive__flex__info__title {
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 76px;
  width: 100%;
  max-width: 470px;
  margin-top: 20px;
  line-height: 1.1;
}

.number__title {
  max-width: 236.98px;
  display: flex;
  justify-content: space-between;
}

.interactive__flex__info__orange {
  color: #ff6534 !important;
}

.interactive__flex__info__big__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 19px;
  color: #d8d8d8;
  margin-top: 40px;
}

.interactive__flex__info__big__text__bold {
  font-family: "Lato_Bold", sans-serif;
}

.interactive__flex__info__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #bdbdbdbd;
  line-height: 1.5;
  width: 100%;
  max-width: 470px;
  margin-top: 20px;
}

.interactive__flex__element {
  padding: 0 15px;
  box-sizing: border-box;
}

.info__flex {
  display: flex;
  font-family: "Lato_Regular", sans-serif;
  font-size: 12px;
  color: #727272;
  gap: 10px;
  text-decoration: underline;
  margin-top: 20px;
  letter-spacing: calc(0.2 * 1em);
}

.interactive__flex__about {
  padding: 0 40px;
  box-sizing: border-box;
}

.interactive__flex__about__title {
  font-family: "Lato_Regular", sans-serif;
  font-size: 12px;
  color: #d8d8d8;
  letter-spacing: calc(0.2 * 1em);
  line-height: 1.5;
  margin-top: 10px;
  font-weight: bold;
}

.interactive__flex__about__img {
  width: 120px;
  height: 120px;
  margin-top: 95px;
}

.interactive__flex__about__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #d8d8d8;
  width: 100%;
  max-width: 322px;
  margin-top: 20px;
}

.interactive__flex__about__text__bold {
  font-family: "Lato_Bold", sans-serif;
  color: #fff;
  margin-left: 5px;
}

.interactive__flex__about__repair,
.interactive__flex__about__repair a {
  margin-top: 90px;
  color: #fff;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
}

.interactive__arrow {
  margin-left: 5px;
  font-size: 24px;
}

.man__repair {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
}

.man__rapair__parrent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0 30px;
}

.what__we__do__grid__element__title {
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  color: #121212;
  font-weight: bold;
  margin-top: 20px;
  line-height: 1.3;
  width: 100%;
  max-width: 350px;
}

.what__we__do__grid__element__text {
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
  color: #727272;
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
}

.what__we__do__grid__element__price {
  font-size: 15px;
  line-height: 1.4;
  font-family: "Lato_Regular", sans-serif;
  color: #121212;
  margin-top: 20px;
}

.what__we__do__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0 60px;
  row-gap: 60px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.what__we__do__title {
  font-family: "Questrial", sans-serif;
  font-size: 56px;
  margin-top: 20px;
  color: #121212;
  line-height: 1.1;
}

.about__us__section__element {
  padding: 0 30px;
}

.what__we__do__grid__element {
  width: 100%;
  max-width: 355px;
}

.about__us__section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 60px 0 120px;
  height: min-content;
}

.about__us__section__img {
  max-width: 555px;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.orange__title__bold {
  font-family: "Lato_Black", sans-serif;
  color: #ff6534;
  font-size: 12px;
  letter-spacing: calc(1em * 0.2);
}

.about__us__section__text__bold {
  font-family: "Lato_Bold", sans-serif;
  font-size: 19px;
  color: #4e4e4e;
  max-width: 555px;
  width: 100%;
  line-height: 1.5;
  margin: 25px 0;
}

.about__us__section__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #727272;
  max-width: 555px;
  width: 100%;
  line-height: 1.5;
}

.about__us__section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-width: 2px;
  color: #fff;
  background-color: #ff6534;
  width: 161.52px;
  height: 48px;
  border-color: transparent;
  font-family: "Lato_Bold", sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.about__us__section__button svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.about__us__section__button:hover {
  background-color: #000;
}

.what__we__repair {
  display: flex;
  justify-content: center;
  align-items: center;
}

.what__we__repair__img {
  min-height: 337px;
  width: 510px;
}

.hardware {
  background: url(../img/hardware.webp), no-repeat;
  background-size: cover;
  max-width: 100%;
}

.screen {
  background: url(../img/screen.webp), no-repeat;
  background-size: cover;
  max-width: 100%;
}

.hardware__repair,
.screen__replasment {
  display: flex;
  align-items: center;
}

.hardware__repair {
  background: #f6f6f6;
  max-width: 50%;
}

.screen__replasment {
  background: #181818;
  max-width: 50%;
}

.screen__replasment__info,
.hardware__repair__info {
  padding: 0 60px;
  max-width: 511px;
  box-sizing: border-box;
  width: 100%;
}

.hardware__repair__info__title,
.screen__replasment__info__title {
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.hardware__repair__info__title {
  color: #121212;
}

.screen__replasment__info__title {
  color: #fff;
}

.hardware__repair__info__text,
.screen__replasment__info__text {
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
}

.hardware__repair__info__text {
  color: #727272;
}

.screen__replasment__info__text {
  color: #fff;
}

.hardware__repair__info__text__little,
.screen__replasment__info__text__little {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
  margin-top: 20px;
  position: relative;
  left: 15px;
}

.hardware__repair__info__text__little {
  color: #4e4e4e;
}

.screen__replasment__info__text__little {
  color: #e1e1e1;
}

.screen__replasment__info__text__little::before,
.hardware__repair__info__text__little::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: #ff6534;
  position: absolute;
  top: calc(50% - 3.5px);
  left: -15px;
}

.achivments {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
  background: #121212;
}

.achivments__element__number {
  font-family: "Questrial", sans-serif;
  font-size: 76px;
  color: #ff6534;
}

.achivments__element__title {
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  margin-top: 40px;
}

.achivments__element__text {
  margin-top: 40px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
  color: #bdbdbd;
  vertical-align: baseline;
}

.achivments__element {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 450px;
  width: 100%;
}

.how__we__work {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #181818;
  position: relative;
}

.how__we__work__left {
  padding: 120px 30px 100px 60px;
  width: 100%;
  max-width: 670px;
}

.how__we__work__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 50%;
  overflow: hidden;
}

.how__we__work__title {
  font-size: 56px;
  line-height: 1.1;
  font-family: "Questrial", sans-serif;
  margin-top: 20px;
  color: #fff;
}

.how__we__work__title__orange {
  color: #ff6534;
  font-size: 56px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.how__we__work__text {
  font-size: 19px;
  line-height: 1.4;
  font-family: "Lato_Bold", sans-serif;
  margin-top: 25px;
}

.how__we__work__steps {
  margin-top: 25px;
}

.step {
  display: flex;
  padding: calc(30px / 4) 0;
}

.step svg {
  margin: 0 13.5px;
}

.step__title {
  font-size: 24px;
  line-height: 1.3;
  font-family: "Questrial", sans-serif;
  margin-right: 5px;
  font-weight: bold;
}

.step__info,
.step__svg {
  margin: calc(30px / 4);
}

.step__number {
  color: #ff6534;
  margin-left: 5px;
}

.step__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  color: #bdbdbd;
  line-height: 1.5;
  white-space: initial;
  max-width: 555px;
}

.services {
  text-align: center;
  padding: 120px 0 15px;
}

.services__text__bold {
  margin: 25px auto 0 auto;
}

.services__slider__overflow {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  position: relative;
  left: 0;
}

.services__slider__element {
  padding: 0 15px;
  max-width: 360px;
  position: relative;
  left: -15px;
}

.services__slider__element__img {
  max-width: 360px;
}

.services__slider {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.services__parent__slider {
  margin-top: 50px;
}

.services__slider__button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.services__slider__button svg path {
  fill: #000;
}

.left {
  position: relative;
}

.right {
  position: relative;
}

.services__slider__element__title {
  text-align: start;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  color: #121212;
  font-size: 24px;
  margin-top: 20px;
  line-height: 1.3;
}

.services__slider__element__text {
  text-align: start;
  color: #727272;
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
}

.companies__element {
  width: 170px;
  position: relative;
}

.companies__element__background {
  width: 210px;
  height: 104px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companies {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 25px 0 100px;
}

.cta {
  position: relative;
  background: url(../img/cta.png), no-repeat;
  background-size: cover;
  padding: 120px 0 30px;
  width: 100%;
}

.cta__title {
  max-width: 800px;
  width: 100%;
}

.cta__top__flex {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cta__top__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__top__flex__element {
  max-width: 570px;
  width: 100%;
}

.cta__title {
  margin-bottom: 20px;
}

.cta__discount__text {
  color: #fff;
  font-family: "Lato_Bold", sans-serif;
  font-size: 19px;
  max-width: 370px;
  width: 100%;
  line-height: 1.4;
}

.cta__bottom__flex {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  margin: 90px auto 0 auto;
}

.cta__bottom__flex__element {
  width: 270px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.cta__bottom__flex__element img {
  width: 70px;
  height: 70px;
}

.cta__bottom__flex__element__line {
  width: 28.5px;
  height: 3px;
  background: #ff6534;
  margin: calc(33px / 2 - 3px) 0 calc(33px / 2 - 3px) 0;
}

.cta__bottom__flex__element__title {
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  color: #121212;
  font-weight: bold;
}

.cta__bottom__flex__element__text {
  font-family: "Lato_Regular", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: #727272;
}

.CallUsSlider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call__us {
  padding: 30px 0 120px;
  background: #f6f6f6;
}

.call__us__slider__flex {
  background-color: #fff;
  display: flex;
  max-width: 1170px;
  width: 100%;
}

.call__us__slider {
  display: flex;
}

.call__us__slider__parrent {
  max-width: 1170px;
  width: 100%;
  overflow: hidden;
}

.call__us__slider__text {
  padding: 55px 70px;
  box-sizing: border-box;
  width: 91vw;
}

.call__us__slider__flex__element__title {
  font-family: "Questrial", sans-serif;
  color: #121212;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
}

.call__us__slider__flex__element__text {
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
  color: #727272;
  font-style: italic;
  margin-top: 20px;
  max-width: 445px;
  /* width: 100%; */
}

.call__us__slider__flex__element__img {
  max-width: 585px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call__us__slider__flex__element__img img {
  max-height: 500px;
}

.call__us__slider__flex__element__name {
  margin-top: 20px;
  font-size: 12px;
  font-family: "Lato_Black", sans-serif;
  color: #4e4e4e;
  letter-spacing: calc(0.2 * 1em);
}

.call__us__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.call__us__title {
  margin-top: 15px;
  font-size: 21px;
  color: #4e4e4e;
  font-family: "Lato_Regular", sans-serif;
}

.call__us__title__dark {
  font-family: "Lato_Bold", sans-serif;
}

.call__us__phone__info {
  margin-top: 15px;
  font-size: 15px;
  color: #727272;
  font-family: "Lato_Regular", sans-serif;
}

.call__us__phone {
  color: #ff6534;
  font-family: "Lato_Bold", sans-serif;
}

.faq {
  background: #181818;
  display: flex;
  align-items: center;
  height: 930px;
}

.faq__flex__element {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  overflow: hidden;
}

.faq__flex__element__text {
  padding: 120px 0;
  margin: 0 auto;
  max-width: 38%;
}

.faq__flex__element img {
  max-height: 930px;
  height: 100%;
  width: 1500px;
}

.faq__questions__flex {
  color: #fff;
  margin-top: 25px;
}

.faq__title {
  margin-top: 25px;
  height: 53.19px;
}

.faq_interactive {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.faq__question__text {
  font-size: 24px;
  font-family: "Lato_Bold", sans-serif;
}

.faq__question__button {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border: none;
  text-align: end;
  cursor: pointer;
}

.faq__question__button.active svg {
  transform: rotate(180deg);
}

.faq__question__button svg {
  fill: #bdbdbd94;
  position: absolute;
  right: 10px;
  top: 30px;
}

.faq__question__button:hover svg {
  fill: #fff;
}

.faq__question {
  transition: all 0.3s;
  position: relative;
  border-bottom: 1px solid #ffffff38;
  max-height: 71.9px;
  overflow: hidden;
}

.faq__answer {
  font-size: 17px;
  color: #bdbdbd;
  line-height: 1.5;
  padding-bottom: 20px;
}

.faq__question.active {
  height: fit-content;
  max-height: 200px;
}

.news__parrent__slider {
  width: 100%;
  padding: 60px 0;
  box-sizing: border-box;
  background: #ff6534;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__slider {
  display: flex;
  max-width: 1170px;
  width: 100%;
  overflow: hidden;
}

.news__slider__element {
  min-width: 350px;
  padding: 0 20px;
}

.news__slider__element__date {
  font-size: 12px;
  line-height: 1.4;
  font-family: "Lato_Black", sans-serif;
  letter-spacing: calc(0.2 * 1em);
}

.news__slider__element__title {
  margin-top: 40px;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}

.news__slider__element__text {
  color: rgba(255, 255, 255, 0.76);
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lato_Regular", sans-serif;
}

.news__slider__element__link {
  margin-top: 20px;
}

.news__slider__element__link a {
  font-size: 15px;
  line-height: 1.4;
  font-family: "Lato_Bold", sans-serif;
}

.news__button svg {
  fill: #ffffffb9;
  transition: fill 0.3s;
}

.news__button:hover.news__button svg {
  fill: #fff;
}

.footer {
  background: url(../img/bgTop.jpg) no-repeat;
  background-size: cover;
  padding: 120px 0 0;
}

.contact__form {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contact__form__info {
  max-width: 50%;
}

.form {
  padding: 66px 60px;
  box-sizing: border-box;
  background: #181818;
  max-width: 555px;
  width: 100%;
}

.form__input {
  box-sizing: border-box;
  padding: 15px 26px;
  margin-top: 12px;
  max-width: 435px;
  width: 100%;
  border: none;
  background: #121212;
  color: #f6f6f6;
  font-size: 15px;
  line-height: 1.33333;
  margin-bottom: 24px;
  font-family: "Lato_Bold", sans-serif;
}

.form__input.wrongName,
.form__input.wrongPhoneNumber,
.form__input.wrongEmail {
  border: 1.5px solid rgb(231, 58, 58);
}

.form__button {
  min-width: 100%;
}

.contact__form__title {
  margin-top: 20px;
}

.contact__form__little__title {
  margin-top: 20px;
  min-width: 100%;
}

.contact__form__text {
  margin-top: 25px;
  min-width: 100%;
}

.orange_title {
  color: #ff6534;
  font-size: 24px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact__form__a {
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Questrial", sans-serif;
  font-size: 17px;
}

.contact__form__address__element__text {
  color: #f6f6f6;
  font-family: "Questrial", sans-serif;
  font-size: 17px;
}

.contact__form__space {
  height: 25px;
}

.contact__form__address {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.contact__form__question__title {
  color: #fff;
  font-size: 24px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.contact__form__question__text {
  color: #bdbdbd;
  font-size: 17px;
  font-family: "Lato_Regular", sans-serif;
}

.contact__form__question {
  display: flex;
  margin-top: 25px;
}

.contact__form__question img,
.contact__form__question__info {
  margin: calc(30px / 4);
}

.contact__form__question__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__message {
  padding-bottom: calc(150px - 15px);
}

.footer__line {
  max-width: 1200px;
  margin: 50px auto 0 auto;
  width: 100%;
}

.footer__links__logo__hrefs__element {
  width: 30px;
  height: 30px;
  background-color: #ff6534;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.footer__links__logo__hrefs {
  display: flex;
  gap: 10px;
}

.footer__links__logo__hrefs__element:hover {
  background-color: #de3400;
}

.footer__links__href__title {
  color: #fff;
  font-size: 24px;
  line-height: 1.3;
  font-family: "Questrial", sans-serif;
}

.footer__links__href__element {
  margin: 20px 0;
  font-size: 15px;
  color: #bdbdbd;
  font-family: "Lato_Regular", sans-serif;
  cursor: pointer;
  transition: color 0.3s;
}

.footer__links {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 60px 15px;
  box-sizing: border-box;
}

.footer__links__logo__text {
  font-size: 15px;
  color: #bdbdbd;
  font-family: "Lato_Regular", sans-serif;
  margin: 30px 0;
  line-height: 1.5;
}

.footer__links__logo__parrent {
  width: 310px;
}

.footer__links__href__element:hover {
  color: #fd6232;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: #bdbdbd;
  padding: 15px;
  font-family: "Lato_Regular", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

.about__us__page__info {
  width: 100%;
  padding: 60px 0 65px;
  background-color: #181818;
}

.about__us__page__center {
  text-align: center;
  margin: 0 auto;
  font-size: 56px;
}

.page__info__little {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.page__home,
.page__current__page,
.page__home__arrow {
  font-family: "Lato_Bold", sans-serif;
  font-size: 12px;
  letter-spacing: calc(0.2 * 1em);
}

.page__home {
  color: #bdbdbd;
}

.page__current__page {
  color: #fff;
  text-decoration: underline;
}

.page__home__arrow {
  color: #ff6534;
  padding: 0 5px;
  box-sizing: border-box;
}

.about__us__page__flex {
  padding: 120px 0;
}

.about__us__page__flex__element {
  padding: 0 30px;
}

.about__us__page__flex__title {
  margin-top: 20px;
}

.about__us__page__flex__little__title {
  margin-top: 25px;
}

.about__us__page__flex {
  display: flex;
  justify-content: center;
}

.about__us__page__img {
  max-width: 555px;
  width: 100%;
  margin: 20px 0;
}

@media (max-width: 992px) {
  .what__we__do__grid {
    grid-template-columns: 1fr 1fr;
    padding: 0 32px;
    box-sizing: border-box;
  }

  .what__we__do__grid__title {
    grid-column: span 2;
    padding: 30px 0;
  }

  .last__what__we__do__grid__element {
    grid-column: span 2;
    justify-self: center;
  }

  .interactive__flex__info__title,
  .interactive__flex__info__orange {
    font-size: 56px;
  }

  .phone__adapted {
    margin-top: 50px;
  }

  .interactive__flex__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .interactive__flex__about__img {
    margin-top: 40px;
    width: 70px;
    height: 70px;
  }

  .about__us__section {
    flex-direction: column;
  }

  .about__us__section__element__phone {
    margin-top: 60px !important;
  }

  .what__we__repair,
  .hardware__repair,
  .screen__replasment {
    flex-direction: column;
    min-width: 100%;
  }

  .hardware__repair__info,
  .screen__replasment__info {
    padding: 47px 39px;
  }

  .achivments,
  .cta__bottom__flex,
  .how__we__work {
    flex-direction: column;
  }

  .achivments__element {
    margin-top: 20px;
  }

  .how__we__work__title,
  .how__we__work__title__orange {
    font-size: 38px;
  }

  .step__svg svg {
    width: 50px;
    height: 50px;
    margin: 0 9.617px;
  }

  .step__svg {
    width: min-content;
    height: min-content;
  }

  .step__title {
    font-size: 22px;
  }

  .how__we__work__left {
    padding: 90px 30px;
    box-sizing: border-box;
  }

  .how__we__work__img {
    max-width: 100%;
  }

  .services__slider__button {
    background-color: #181818;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }

  .services__slider__button svg {
    width: 15px;
    height: 15px;
  }

  .services__slider__button svg path {
    fill: #fff;
  }

  .cta__top__flex {
    flex-direction: column;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .cta__discount__text {
    margin-top: 50px;
  }

  .cta__bottom__flex {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .call__us__slider__flex {
    flex-direction: column;
  }

  .call__us__slider__flex__element__img {
    max-width: none;
    width: auto;
    height: 240px;
  }

  .call__us__slider__flex__element__img img {
    width: 100%;
    height: 100%;
    max-height: 250px;
  }

  .call__us__slider__text {
    padding: 39px 43px;
  }

  .quotes svg {
    width: 30px;
    height: 30px;
  }

  .call__us__slider__flex__element__text {
    max-width: 631px;
  }

  .call__us__info {
    padding: 0 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .what__we__do__grid {
    grid-template-columns: 1fr;
  }

  .what__we__do__grid__title {
    grid-column: span 1;
  }

  .last__what__we__do__grid__element {
    grid-column: span 1;
  }

  .interactive__flex {
    flex-direction: column;
  }

  .faq__flex__element {
    max-width: 100%;
  }

  .faq__flex__element img {
    width: 100%;
    max-height: none;
    height: auto;
  }

  .faq {
    flex-direction: column;
    gap: 50px;
    height: auto;
  }

  .faq__flex__element__text {
    padding: 0 24px;
    box-sizing: border-box;
    padding: 0 24px 50px 24px;
  }

  .faq__question {
    height: 100%;
    max-height: 87px;
  }

  .faq__question:nth-child(3) {
    max-height: 70px;
  }

  .faq__question:nth-child(3).active {
    max-height: 200px;
  }

  .faq__question__text {
    font-size: 22px;
    max-width: 317px;
  }

  .main::before {
    height: 1765px;
    width: 100%;
  }

  .phone {
    min-width: 100%;
    max-height: none;
  }

  .man__repair {
    padding: 0 24px;
  }

  .info__flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-wrap: nowrap;
  }

  .info__flex__element {
    width: fit-content;
  }

  .companies {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .companies__element {
    width: 302px;
    height: auto;
  }

  .companies__element__background {
    max-width: 342px;
    width: 100%;
    height: 153.7px;
  }

  .contact__form {
    flex-direction: column;
  }

  .contact__form__info {
    max-width: 100%;
  }

  .form {
    padding: 39px;
  }

  .contact__form__space {
    height: 45px;
  }

  .footer__links {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 60px 24px;
  }

  .footer__line {
    margin: 0;
  }

  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .footer__links__href__element {
    font-size: 17px;
  }

  .footer__links__logo__hrefs {
    justify-content: center;
  }

  .footer__links__href__title {
    font-weight: bold;
    font-size: 22px;
  }

  .cta__bottom__flex__element__line {
    margin: calc(33px / 2 - 3px) auto calc(33px / 2 - 3px) auto;
  }
}
